<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant-List</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/indexPage.css" rel="stylesheet">
</head>

<body>
  <!--{{{ body }}}-->
  <link href="/views/index.hbs" rel="stylesheet">
  <!--<script src="/javascripts/bootstrap.bundle.min.js"></script>-->
</body>

</html>